body {
	margin: 10px;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 14px;
}

.logo {
	height: 45px;	
}

.white {
	background-image:url(images/chat/login_cyanbg.jpg);
	background-repeat:no-repeat;
	background-color: #FFF;
	width: 289px;
	height: 127px;
	border-right: 0px;
	float: left;
}

.blue {
	background-image:url(images/chat/register_bluebg.jpg);
	background-repeat:no-repeat;
	background-color: #0073e9;
	width: 287px;
	height: 127px;
	border-left: 0px;
	float: left;
}

.bBlue {
	background-image:url(images/chat/5w_bg.jpg);
	background-repeat:repeat-x;
	background-color: #ecf0f8;
	width: 574px;
	height: 84px;
	border: 1px solid #bac4d9;
	color: #40576f;
	text-align:center;
}

.bBlue tr {
	height: 30px;	
}

.bBlue td {
	text-align: left;
}

.bBlue table {
	margin: 0 auto;
	margin-top: 10px;
}

.bBlue input {
	width: 200px;	
	border: 1px solid #CCC;
}

.bBlue .department_selector {
	background-color:white;
	border:1px solid #CCCCCC;
	border-top: 0px hidden;
	left:0;
	position:absolute;
	top:0;
	visibility:hidden;
	width:200px;
	height: 65px;
	overflow: auto;
	color: #000
}

.bBlue .department_menu {
	background-color:white;
	border:1px solid #CCCCCC;
	padding:1px 1px 1px 5px;
	width:194px;
	height: 19px;
	background-image:url("images/chat/dropdown.jpg");
	background-position:184px 6px;
	background-repeat:no-repeat;
	overflow: hidden;
}

.bBlue .department_menu:hover {
	background-image:url("images/chat/dropdown_hover.jpg");
}

.bBlue .departmentOnline {
	color: #090;	
}

.bBlue .departmentCat {
	margin-bottom: 2px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	padding: 2px 10px 2px 10px;
	border: 1px dotted white;
}

#footer {
	width: 574px;
	text-align:center;
	font-size: 10px;
	color: #000;
	line-height:18px;
}

#footer a {
	color: #009;
	text-decoration: none;
}

#footer a:visited {
	color: #009;
	text-decoration: none;
}

#footer a:hover {
	color: #006;
	text-decoration: none;
}

.loginText {
	font-size: 18px;
	font-weight: bold;
	margin-top: 8px;
	margin-left: 20px;
}
.registerText {
	font-size: 18px;
	font-weight: bold;
	color: white;
	margin-top: 8px;
	margin-left: 20px;
}

.department_selector {
	position: absolute;
	top: 0px;
	left: 0px;
	
}

.formOutline {
	margin: 5px;
	margin-top: 10px;
	padding: 10px;
	padding-left: 25px;
}

.formOutlineWhite {
	color: #000;
}

.formOutlineBlue {
	color: #FFF;
}

.formOutline input {
	width: 160px;
	border: 1px solid #CCC;
}

.formOutline td.widthSet {
	width: 75px;	
}

.clientInfo {
	width: 100%;
	background-color: #E1E1E1;
	border: 1px solid #999;
	padding: 5px;
	border-collapse:collapse;
}

.leavemessage {
	width: 100%;
	background-color: #E1E1E1;
	border: 1px solid #999;
	padding: 5px;
	border-collapse:collapse;
}
.leavemessage tr:nth-child(even) {
	border-bottom: solid 1px #CCC;
}

.leavemessage tr:nth-child(odd) {
	border-bottom: solid 1px #CCC;
}

.leavemessage td:nth-child(odd) {
	padding: 5px;
	width: 100px;
	background: #E1E1E1;
}

.leavemessage td:nth-child(even) {
	padding: 5px;
	background: #F8F8F8;
	font-size: 12px;
}

.leavemessage td input {
	width: 200px;
}

.leavemessage td textarea {
	width: 99%;
	height: 200px;
}

.leavemessage tr.noborder {
	border-bottom: none;
}

.error {
	background-color: #ffe3e3;
	border: solid 1px #dea6a6;
	color: #900;
	padding: 5px;
	margin-bottom: 5px;
	width: 99%;
}

.success {
	background-color: #b3ffad;
	border: solid 1px #00c705;
	color: #1f7600;
	padding: 5px;
	margin-bottom: 5px;
	width: 99%;
}